<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimplestTTT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3BEDF041C09CCEC00FCEE13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3BEDF181C09CCEC00FCEE13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3BEDF231C09CCEC00FCEE13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
